body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul{
  padding-left: 18px;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 3px;
}

h4 {
  margin: 0px;
  padding: 0px;
}

.main-wrapper {
  margin: 40px auto;
  width: 1200px;
  display: flex;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* sidebar */
.left {
  width: 370px;
  background: #1e2939;
  color: #fff;
}
.left img {
  margin-top: 40px;
}
.text {
  margin-top: 50px;
  margin-left: 40px;
}

.contacts, .soft-skills, .tech-skills{
  margin-bottom: 45px;
}

.tel a, .email a {
  color: #605656;
}

.tel a::before {
  content: "C:";
  color: #fff;
  margin-right: 7px;
}

.email a::before {
  content: "E:";
  color: #fff;
  margin-right: 7px;
}

.left li {
  color: #fb6d3a;
}

.left li span {
  color: #fff;
}

/* main content */
.content {
  padding: 100px 80px;
}

.about p{
  width: 400px;
}

.bold-item{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
}

.normal-item{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;

}

h3 span{
  color: #fb6d3a;
}

p.date {
  font-size: 12px;
  color: #a8a8a8;
}
