body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

p {
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

h1{
  margin-top: 22px;
  margin-bottom: 22px;
}

h2 {
  margin-top: 7px;
  margin-bottom: 7px;
}

h3, h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

ul {
  margin-top: 4px;
  margin-bottom: 4px;
}


.main-wrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
}

.left {
  width: 370px;
  height: 1250px;
  background: #1e2939;
  color: #fff;
}

.left img {
  margin-top: 40px;
}

.text {
  margin-top: 50px;
  margin-left: 40px;
}

.tel a, .email a {
  color: #fff;
}

.left li {
  color: #fb6d3a;
}

.left li span {
  color: #fff;
}

.tech-skills{
  margin-top: 45px;
  margin-bottom: 45px;
}

.content {
  margin-left: 40px;
}

.about{
  width: 400px;
  margin-bottom: 39px;
}

.work {
  margin-top: 50px;
  margin-bottom: 43px;
}

.company {
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 span {
  color: #FB6D3A;
}

p.date {
  font-size: 12px;
  color: #a8a8a8;
}
